body{
    background-image: url("https://wallpaperaccess.com/full/794.jpg"); 
    background-size: cover;
}

.App {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .input-container {
    display: flex;
    justify-content: space-between;
  }
  
  input {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  
  ul {
    
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
    
  }
  
  .footer {
    margin-top: 20px;
  }
  