body{
    background-image: url("https://wallpaperaccess.com/full/794.jpg"); 
    background-size: cover;
}

.App {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.footer {
  margin-top: 20px;
}

.task-item .delete-button {
  display: none;
}

.task-item:hover .delete-button {
  display: inline-block;
}
  
 
  